body{
	/*去掉边距*/
	margin: 0;
	background: #333;
}

#title-main{
	position: absolute;
	width: 40%;
	height: 10%;
	top: 0;
	left: 30%;
	/*background: #69a81e;*/
	/* 字色 大小*/
	color: white;
	font-size: 30px;
	/*弹性布局，居中*/
	display: flex;
	align-items: center;
	/*竖直方向居中*/
	justify-content: center;
}
#title-login{
	position: absolute;
	width: 30%;
	height: 10%;
	top: 0;
	left: 70%;
	background: #4a5aa7;
}
#left-1{
	position: absolute;
	width: 20%;
	height: 90%;
	top: 10%;
	left: 0;
	background: #7d7d7d;
}
#right-1{
	position: absolute;
	width: 80%;
	height: 10%;
	top: 10%;
	left: 20%;
	background: #3ba1df;
}
#right-2{
	position: absolute;
	width: 80%;
	height: 10%;
	top: 20%;
	left: 20%;
	background: #CC3434;
}
#right-3{
	position: absolute;
	width: 80%;
	height: 70%;
	top: 30%;
	left: 20%;
	color: white;
	/*background: #e6a23c;*/
}
/*二级div class 浮动*/
.num{
	/*宽度以上一级--right-3为100%*/
	width: 25%;
	float: left;
	color: gold;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.txt{
	width: 25%;
	float: left;
	font-family: "幼圆";
	display: flex;
	align-items: center;
	justify-content: center;
}
.txt h2{
	margin: 0;
}