body {
    margin: 0;
    background: url(../image/Galaxy.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
table{
    border-collapse:collapse;
}

table,th, td{
    border: 1px solid black;
}

#title {
    position: absolute;
    width: 100%;
    height: 5%;
    top: 0;
    left: 0;
    /* background: #666666; */
    color: white;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../image/Galaxy.jpg) no-repeat;
}
#tim {
    position: absolute;
    /* width: 30%; */
    height: 5%;
    right: 2%;
    top: 0;
    color: #FFFFFF;
    font-size: 5px;
}
#c1 {
    position: absolute;
    width: 40%;
    height: 60%;
    top: 5%;
    left: 30%;
    color: white;
    background: white;
    opacity: 0.9;
    /* background: #777777; */
}

#c2{
    position: absolute;
    width: 40%;
    height: 35%;
    top: 65%;
    left: 30%;
    background: white;
    opacity: 0.8;
}

#databody{
    width: 80%;
    height: 60%;
    /*background-color: lightcoral;*/
    background-color: #ebfaf3;
    margin: 10px auto;
    border: 1px solid black;
    /* 边框合并 */
    border-collapse: collapse;
}

#databody td,#databody th{
    border: 1px solid black;
    /* 文字缩进 */
    text-indent: 10px;
}

#databody th{
    text-align: left;
}


#l1 {
    position: absolute;
    width: 30%;
    height: 55%;
    top: 5%;
    left: 0;
    /*background: #666666;*/
    background: white;
    opacity: 0.9;
}

#projbody{
    width: 80%;
    height: 80%;
    /*background-color: lightcoral;*/
    background-color: #bfcbd9;
    margin: 10px auto;
    border: 1px solid black;
    /* 边框合并 */
    border-collapse: collapse;
}

#projbody td,#projbody th{
    border: 1px solid black;
    /* 文字缩进 */
    text-indent: 10px;
}

#projbody th{
    /*background-color: #ebfaf3;*/
    text-align: left;
}


#l2 {
    position: absolute;
    width: 30%;
    height: 40%;
    top: 60%;
    left: 0%;
    background: white;
    opacity: 0.8;
}

select{
    position: relative;
    /*清除select的边框样式*/
    border: none;
    /*清除select聚焦时候的边框颜色*/
    outline: none;
    /*将select的宽高等于div的宽高*/
    width: 50%;
    height: 40px;
    margin: 20px;
    /*隐藏select的下拉图标*/
    line-height: 40px;
    /*appearance: none;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*//通过padding-left的值让文字居中*/
    padding-left: 60px;
    background: #a8a8a8;
    color: #CC3434;
    /*border-radius: 25px 0 0 25px;*/
}
.choose_btn{
    /*position: relative;*/
    left: 0px;
    width: 80px;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #a8a8a8;
    color: white;
}

#sectbody{
    width: 90%;
    height: 60%;
    background-color: lightcoral;
    margin: 10px auto;
    border: 1px solid black;
    /* 边框合并 */
    border-collapse: collapse;
}

#sectbody td,#projbody th{
    border: 1px solid black;
    /* 文字缩进 */
    text-indent: 10px;
}

#sectbody th{
    /*background-color: #ebfaf3;*/
    text-align: left;
}

#r1 {
    position: absolute;
    width: 30%;
    height: 55%;
    top: 5%;
    right: 0%;
    background: white;
    opacity: 0.9;
}

#devcbody{
    width: 90%;
    height: 75%;
    background-color: #bfcbd9;
    margin: 10px auto;
    border: 1px solid black;
    /* 边框合并 */
    border-collapse: collapse;
}

#devcbody td,#devcbody th{
    border: 1px solid black;
    /* 文字缩进 */
    text-indent: 10px;
}

#devcbody th{
    /*background-color: #ebfaf3;*/
    text-align: left;
}

#r2 {
    position: absolute;
    width: 30%;
    height: 40%;
    top: 60%;
    right: 0%;
    /*background: #777;*/
    background: #9ca1b9;
}
