{% import 'macro' as macro %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ chart.page_title }}</title>
    {{ macro.render_chart_dependencies(chart) }}
</head>
<body>
    {{ macro.render_chart_content(chart) }}
    开始日期:<input type = 'text' id="st" name = 'start_time' value="2017-11-12"/>
    截止日期:<input type = 'text' id="et" name = 'end_time' value="2017-11-20"/>
    <input type = 'submit' id="submit1" value="提交" />
    <div class="user_link fl">
        <a href="/register">注册新用户</a>
    </div>

</body>
</html>
